{% extends "layout.twig" %}

{% block title %}Crypto{% endblock %}
{% block content %}
    <div class="container mt-5">
        <form action="/search" method="get" class="w-50 mx-auto mb-5">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search coins by symbol..."
                       aria-label="Search query" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">1h %</th>
                <th scope="col">24h %</th>
                <th scope="col">7d %</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for key, crypto in cryptos %}
                <tr>
                    <th scope="row">{{ key+1 }}</th>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="{{ crypto.logo }}" alt="logo {{ crypto.id }}" class="rounded-circle me-3"
                                 width="40px">
                            <h5 class="m-0">{{ crypto.name }} <span
                                        class="badge bg-secondary">{{ crypto.symbol }}</span></h5>
                        </div>
                    </td>
                    <td class="align-middle"><span>${{ crypto.price|number_format(2) }}</span></td>
                    <td class="align-middle">
                        <span class="{{ crypto.percentChange1h >=0 ? 'text-success' : 'text-danger' }}">
                        {% if crypto.percentChange1h >= 0 %}
                            <i class="icon-chevron-up"></i>
                        {% else %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                            {{ crypto.percentChange1h|number_format(2) }}%
                        </span>
                    </td>
                    <td class="align-middle">
                        <span class="{{ crypto.percentChange24h >=0 ? 'text-success' : 'text-danger' }}">
                        {% if crypto.percentChange24h >= 0 %}
                            <i class="icon-chevron-up"></i>
                        {% else %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                            {{ crypto.percentChange24h|number_format(2) }}%
                        </span>
                    </td>
                    <td class="align-middle">
                        <span class="{{ crypto.percentChange7d >=0 ? 'text-success' : 'text-danger' }}">
                        {% if crypto.percentChange7d >= 0 %}
                            <i class="icon-chevron-up"></i>
                        {% else %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                            {{ crypto.percentChange7d|number_format(2) }}%
                        </span>
                    </td>
                    <td class="align-middle"><a class="btn btn-outline-secondary" href="/coin/{{ crypto.id }}">Trade</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}