{% extends "layout.twig" %}

{% block title %}{{ coin.name }}{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="card border-secondary mb-3 mx-auto w-50">
            <div class="card-header d-flex align-items-center justify-content-center">
                <img src="{{ coin.logo }}" alt="logo {{ coin.id }}" class="rounded-circle me-3" width="100px">
                <div class="text-end">
                    <span class="badge bg-secondary fs-5">{{ coin.symbol }}</span>
                    <h1 class="m-0">{{ coin.name }}</h1>
                </div>
            </div>
            <div class="card-body text-secondary d-flex flex-column justify-content-center align-items-center">
                <div class="mt-4">
                    <p class="fw-bold fs-4">Price: ${{ coin.price|number_format(2) }}</p>
                </div>
                <div class="d-flex">
                    <p class="me-2">Percent Change 1h: </p>
                    <span class="{{ coin.percentChange1h >=0 ? 'text-success' : 'text-danger' }}">
                        {% if coin.percentChange1h >= 0 %}
                            <i class="icon-chevron-up"></i>
                        {% else %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                        {{ coin.percentChange1h|number_format(2) }}%
                    </span>
                </div>
                <div class="d-flex">
                    <p class="me-2">Percent Change 24h: </p>
                    <span class="{{ coin.percentChange24h >=0 ? 'text-success' : 'text-danger' }}">
                        {% if coin.percentChange24h >= 0 %}
                            <i class="icon-chevron-up"></i>
                        {% else %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                        {{ coin.percentChange24h|number_format(2) }}%
                    </span>
                </div>
                <div class="d-flex">
                    <p class="me-2">Percent Change 7d: </p>
                    <span class="{{ coin.percentChange7d >=0 ? 'text-success' : 'text-danger' }}">
                        {% if coin.percentChange7d >= 0 %}
                            <i class="icon-chevron-up"></i>
                        {% else %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                        {{ coin.percentChange7d|number_format(2) }}%
                    </span>
                </div>
                <div class="w-100 mt-4" style="margin-bottom: -10px;">
                    <ul class="nav nav-pills flex-column flex-sm-row text-center bg-light border-0" id="pills-tab"
                        role="tablist">
                        <li class="nav-item flex-sm-fill" role="presentation">
                            <a class="nav-link border-0 text-uppercase font-weight-bold {{ input.buyback ? '' : 'active' }}"
                               id="pills-home-tab"
                               data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
                               aria-controls="pills-home" aria-selected="true">Trade</a>
                        </li>
                        <li class="nav-item flex-sm-fill" role="presentation">
                            <a class="nav-link border-0 text-uppercase font-weight-bold {{ input.buyback ? 'active' }}"
                               id="pills-profile-tab"
                               data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                               aria-controls="pills-profile" aria-selected="false">Short</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer tab-content" id="pills-tabContent">
                <div class="tab-pane fade {{ input.buyback ? '' : 'show active' }}" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab"
                     tabindex="0">
                    <div class="d-flex">
                        <div class="me-2 flex-grow-1">
                            <form action="/coin/{{ coin.id }}/buy" method="post">
                                <div class="text-center">
                                    <label for="buy" class="col-form-label">Amount</label>
                                    <input type="number" step="any" name="amount" id="buy"
                                           class="form-control {{ errors.buyError ? 'is-invalid' }}"
                                           aria-describedby="buy">
                                </div>
                                <div class="d-grid mt-2">
                                    <button
                                            class="btn btn-success"
                                            type="submit"
                                            {% if auth is empty %}
                                                disabled
                                            {% endif %}
                                    >Buy
                                    </button>
                                </div>
                                {% if errors.buyError %}
                                    <div class="text-danger">
                                        {{ errors.buyError }}
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                        <div class="ms-2 flex-grow-1">
                            <form action="/coin/{{ coin.id }}/sell" method="post">
                                <div class="text-center">
                                    <label for="sell" class="col-form-label">Amount</label>
                                    <input type="number" step="any" name="amount" id="sell"
                                           class="form-control {{ errors.sellError ? 'is-invalid' }}"
                                           aria-describedby="buy" value="{{ input.sell }}">
                                </div>
                                <div class="d-grid mt-2">
                                    <button
                                            class="btn btn-danger"
                                            type="submit"
                                            {% if auth is empty %}
                                                disabled
                                            {% endif %}
                                    >Sell
                                    </button>
                                </div>
                                {% if errors.sellError %}
                                    <div class="text-danger">
                                        {{ errors.sellError }}
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {{ input.buyback ? 'show active' }}" id="pills-profile" role="tabpanel"
                     aria-labelledby="pills-profile-tab"
                     tabindex="0">
                    <div class="d-flex">
                        <div class="me-2 flex-grow-1">
                            <form action="/coin/{{ coin.id }}/buy-back" method="post">
                                <div class="text-center">
                                    <label for="buy" class="col-form-label">Amount</label>
                                    <input type="number" step="any" name="amount" id="buy"
                                           class="form-control {{ errors.amount or errors.buyBack ? 'is-invalid' }}"
                                           aria-describedby="buy" value="{{ input.buyback }}">
                                </div>
                                <div class="d-grid mt-2">
                                    <button
                                            class="btn btn-success"
                                            type="submit"
                                            {% if auth is empty %}
                                                disabled
                                            {% endif %}
                                    >Buy back
                                    </button>
                                </div>
                                {% if errors.amount or errors.buyBack %}
                                    <div class="text-danger">
                                        {{ errors.amount }}
                                        {{ errors.buyBack }}
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                        <div class="ms-2 flex-grow-1">
                            <form action="/coin/{{ coin.id }}/short" method="post">
                                <div class="text-center">
                                    <label for="sell" class="col-form-label">Amount</label>
                                    <input type="number" step="any" name="amount" id="sell"
                                           class="form-control {{ errors.amount or errors.short ? 'is-invalid' }}"
                                           aria-describedby="buy">
                                </div>
                                <div class="d-grid mt-2">
                                    <button
                                            class="btn btn-danger"
                                            type="submit"
                                            {% if auth is empty %}
                                                disabled
                                            {% endif %}
                                    >Sell / Borrow
                                    </button>
                                </div>
                                {% if errors.amount or errors.short %}
                                    <div class="text-danger">
                                        {{ errors.amount }}
                                        {{ errors.short }}
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}